<a href="https://colab.research.google.com/github/SarbojitSinha/COE-Assignments/blob/main/Assignment5_(COE).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Import necessary libraries

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder
import numpy as np

# Load the dataset

In [3]:
ile_path = '/content/titanic.csv'
titanic_data = pd.read_csv('/content/titanic.csv')

# Step 1: Data Cleaning
# Dropping unnecessary columns

In [4]:
titanic_data_cleaned = titanic_data.drop(columns=['PassengerId', 'Name', 'Ticket', 'Cabin'])

# Step 2: Handling Missing Values
# Filling missing values in 'Age' with the median

In [5]:
titanic_data_cleaned['Age'].fillna(titanic_data_cleaned['Age'].median(), inplace=True)

# Filling missing values in 'Embarked' with the mode

In [6]:
titanic_data_cleaned['Embarked'].fillna(titanic_data_cleaned['Embarked'].mode()[0], inplace=True)

# Step 3: Transformation
# Log transformation of 'Fare' to reduce skewness

In [7]:
titanic_data_cleaned['Fare'] = np.log1p(titanic_data_cleaned['Fare'])

# Step 4: Normalization
# Normalizing numerical columns

In [9]:
scaler = StandardScaler()
titanic_data_cleaned[['Age', 'Fare']] = scaler.fit_transform(titanic_data_cleaned[['Age', 'Fare']])

# Step 5: Encoding Categorical Variables
# One-hot encoding categorical variables

In [10]:
titanic_data_encoded = pd.get_dummies(titanic_data_cleaned, columns=['Sex', 'Embarked'])

# Step 6: Feature Engineering
# Creating a new feature 'FamilySize' by combining 'SibSp' and 'Parch'

In [11]:
titanic_data_encoded['FamilySize'] = titanic_data_encoded['SibSp'] + titanic_data_encoded['Parch']

# Dropping the original 'SibSp' and 'Parch' columns

In [12]:
titanic_data_encoded.drop(columns=['SibSp', 'Parch'], inplace=True)

# Display the preprocessed data

In [13]:
print(titanic_data_encoded.head())

   Survived  Pclass       Age      Fare  Sex_female  Sex_male  Embarked_C  \
0         0       3 -0.565736 -0.879741       False      True       False
1         1       1  0.663861  1.361220        True     False        True
2         1       3 -0.258337 -0.798540        True     False       False
3         1       1  0.433312  1.062038        True     False       False
4         0       3  0.433312 -0.784179       False      True       False

   Embarked_Q  Embarked_S  FamilySize
0       False        True           1
1       False       False           1
2       False        True           0
3       False        True           1
4       False        True           0